:root {
  /* ### Primary Colors */
  --main-color-orange: hsl(26, 100%, 55%);
  --main-color-pale-orange: hsl(25, 100%, 94%);
  /* ### Neutral Colors */
  --neutral-color-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-color-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-color-grayish-blue: hsl(220, 14%, 75%);
  --neutral-color-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-color-white: hsl(0, 0%, 100%);
  /* (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
  --neutral-color-black: hsla(0, 0%, 0%, 0.75);

  /* dimensions */

  /* fonts */
  --paragraphs-font-size: 1rem;
  --headings-font-size: 1.5rem;
  --font-type: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

p {
  font-size: var(--paragraphs-font-size);
  font-family: var(--font-type);
}
h1 {
  font-size: var(--headings-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-type);
}
html {
  font-size: 100%;
}

header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

nav {
  width: 80%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.shoe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 40px;
}

/* block */
.shoe-image {
  border-radius: 20px;
}
/* modifier */
.shoe-image--active {
  display: block;
}
.shoe-thumbnail {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  border-radius: 20px;
}
