:root {
  /* ### Primary Colors */
  --main-color-orange: hsl(26, 100%, 55%);
  --main-color-pale-orange: hsl(25, 100%, 94%);
  /* ### Neutral Colors */
  --neutral-color-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-color-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-color-grayish-blue: hsl(220, 14%, 75%);
  --neutral-color-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-color-white: hsl(0, 0%, 100%);
  /* (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
  --neutral-color-black: hsla(0, 0%, 0%, 0.75);

  /* dimensions */

  /* fonts */
  --paragraphs-font-size: 1rem;
  --headings-font-size: 1.5rem;
  --font-type: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

p,
h4 {
  font-size: var(--paragraphs-font-size);
  font-family: var(--font-type);
  color: var(--neutral-color-dark-grayish-blue);
}
h1 {
  font-size: var(--headings-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-type);
}

html {
  font-size: 100%;
}
.logo {
  /* border: 1px solid red; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

nav {
  display: flex;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-color-grayish-blue);
  height: 100%;
  /* border: 1px solid red; */
}
.nav__links {
  display: flex;
  width: 70%;
  gap: 4rem;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-type);
  /* border: 1px solid red; */
  height: 100%;
}

.nav_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_link:hover {
  border-bottom: 2px solid var(--main-color-orange);
}
a {
  text-decoration: none;
  color: var(--neutral-color-dark-grayish-blue);
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  /* border: 1px solid red; */
  height: 80vh;
}

.shoe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 50%;
  height: 100%;
  /* border: 1px solid blue; */
  padding-left: 90px;
}

.shoe-image-container {
  width: 58%;
}

/* block */
.shoe-image {
  border-radius: 10px;
}
/* modifier */
.shoe-image--active {
  border: 2px solid var(--main-color-orange);
}

.shoe__thumbnail {
  margin-top: 1rem;
  border-radius: 10px;
}

.shoe-thumbnails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.7rem;
  width: 58%;
}
.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.8rem;
}

.text-position {
  position: relative;
  top: -100px;
  width: 65%;
  text-align: left;
}
.product-cards {
  padding-top: 100px;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Space between items */
  justify-content: center; /* Center items horizontally */
  align-content: center; /* Center items vertically */
}

.product-card {
  width: 100%;
  border: 1px solid var(--neutral-color-grayish-blue);
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-block: 20px;
  animation: slide-down 1000ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.men-product-cards {
  padding-top: 100px;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Space between items */
  justify-content: center; /* Center items horizontally */
  align-content: center; /* Center items vertically */
}

.men-product-card {
  width: 100%;
  border: 1px solid var(--neutral-color-grayish-blue);
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-block: 20px;
  animation: slide-down 1000ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.image-container {
  width: 100%;
  height: 400px;
  transition: all 0.5s;
}

.image-container:hover {
  transform: scale(1.1);
}
